<% @comments.each do |comment| %>
<div class="well wellwidth">
  <%= form_for comment, url: user_comment_path(user_id: params[:user_id]), method: 'patch' do |f| %>
    <%= f.text_field :content%>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :post_id, value: comment.post.id %>
    <%= f.hidden_field :id, value: comment.id %>
    <%= f.submit 'Edit Comment', class: 'btn btn-default' %>
    <%= button_to 'Delete Comment', user_comment_path(user_id: params[:user_id]), method: 'delete', class: 'btn btn-default' %>
  <% end %>
</div><br>
<% end %>
