<ul class="nav nav-tabs nav-justified">
  <% @categories.each do |category| %>
    <li role='presentation'><%= link_to category.title, category_path(category.id) %></li>
  <% end %><br><br>
</ul>

  <%= form_tag 'sort_newest', method: 'post' do %>
    <%= submit_tag 'Newest Posts', class: 'btn btn-default navbar-btn btn-xs' %>
  <% end %>
  <%= form_tag 'sort_oldest', method: 'post' do %>
    <%= submit_tag 'Oldest Posts', class: 'btn btn-default navbar-btn btn-xs' %>
  <% end %>
  <%= form_tag 'sort_most', method: 'post' do %>
    <%= submit_tag 'Most Comments', class: 'btn btn-default navbar-btn btn-xs' %>
  <% end %>
  <%= form_tag 'sort_least', method: 'post' do %>
    <%= submit_tag 'Least Comments', class: 'btn btn-default navbar-btn btn-xs' %>
  <% end %>
  <%= form_tag controller: "posts", action: "search", method: "POST" do %>
    <%= text_field_tag 'search' %>
  <%= submit_tag 'Search Posts', class: 'btn btn-primary btn-sm' %>
<% end %>

<% @posts.each do |post| %>
  <div class='well'>
    <strong><%= link_to post.title, post_path(post) %></strong><br>
    <%= post.content %><br>
    <% post.categories.each do |category| %>
      <% if category.title != "" %>
        <%= link_to category.title, category_path(category) %>  |
      <% end %>
    <% end %>
    <%= post.comments.count %> Comments  |
    <%= author_of_post_email(post) %>  |
    <%= post.created_at.strftime("%A, %b %d") %>
  </div>
<% end %>
