<% if user_signed_in? && current_user.id == @post.author_id %>
  <%= link_to 'EDIT POST', edit_post_path(@post) %><br>
  <%= link_to 'DELETE POST', post_path(@post), method: 'delete' %><br>
<% end %><br>


<div class='well'>
  <strong><%= link_to @post.title, post_path(@post) %></strong><br>
  <%= @post.content %><br>
  <% @post.categories.each do |category| %>
    <% if category.title != "" %>
      <%= link_to category.title, category_path(category) %>  |
    <% end %>
  <% end %>
  <%= author_of_post_email(@post) %><br><br>

  COMMENTS: <br>
  <div id="comment_ajax"></div>
</div>

<% if current_user %>
  <%= form_for @comment, url: user_comments_path(params[:id]), id: 'new_comment', remote: true do |f| %>
    <%= f.text_field :content, id: :content %>
    <%= f.hidden_field :user_id, value: current_user.id, id: :user_id %>
    <%= f.hidden_field :post_id, value: @post.id, id: :post_id %>
    <%= f.hidden_field :author_id, value: params[:id], id: :author_id %>
    <%= f.submit %>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
//RETURNS ALL COMMENTS FOR POST/:ID, APPENDS TO #COMMENT_AJAX
  $.post('/comments/find', {'id': <%= @post.id %>}).success(function(response) {
    var comments = response["comments"];
    comments.forEach(function(comment) {
      $("#comment_ajax").append(comment["content"] + '<br>');
    });
  });

  //SUBMITS NEW COMMENT FORM, ADDS TO #COMMENT_AJAX DIV
  $('form').submit(function(event) {
    event.preventDefault();
    var content = $("#content").val();
    var comment = $(this).serialize();
    <% if current_user %>
    $.post('/users/' + <%= current_user.id %> + '/comments', comment).success(function(data) {
      $("#comment_ajax").append(content + '<br>');
      $('form').each(function() {
        this.reset();
      })
    });
    <% end %>
  return false;
  });
</script>
