<% if user_signed_in? && current_user.id == @post.author_id %>
  <%= link_to 'EDIT POST', edit_post_path(@post) %><br>
  <%= link_to 'DELETE POST', post_path(@post), method: 'delete' %><br>
<% end %><br>


<div class='well'>
  <strong><%= link_to @post.title, post_path(@post) %></strong><br>
  <%= @post.content %><br>
  <% @post.categories.each do |category| %>
    <% if category.title != "" %>
      <%= link_to category.title, category_path(category) %>  |
    <% end %>
  <% end %>
  <%= author_of_post_email(@post) %><br><br>

  COMMENTS: <br>
  <% @post.comments.each do |comment| %>
    <b id='comment'><%= comment.content %></b><br>
  <% end %>
</div>

<% if current_user %>
  <%= form_for @comment, url: user_comments_path(params[:id]) do |f| %>
    <%= f.text_field :content%>
    <%= f.hidden_field :user_id, value: current_user.id, id: :user_id %>
    <%= f.hidden_field :post_id, value: @post.id, id: :post_id %>
    <%= f.hidden_field :author_id, value: params[:id], id: :author_id %>
    <%= f.submit %>
  <% end %>
<% end %>

<!-- DOESN'T APPEND CORRECTLY, BUT WORKS -->
<script type="text/javascript" charset="utf-8">
  $(function() {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post('/users/' + <%= current_user.id %> + '/comments', values);
      posting.done(function(data){
        var comment = data["comment"];
        $("#comment").append(comment["content"]);
      });
    });
  });
</script>
