<nav class="">
    <% if user_signed_in? %>
        <p>Signed in as <%= link_to current_user.email, user_profile_path(current_user) %></p>
        <strong><%= link_to "SIGN OUT", destroy_user_session_path, method: 'delete' %></strong><br>
        <strong><%= link_to 'HOME', root_path %></strong>
    <% else %>
        <strong><%= link_to "SIGN UP", new_user_registration_path %></strong><br>
        <strong><%= link_to "SIGN IN", new_user_session_path %></strong><br>
        <strong><%= link_to("SIGN IN WITH FACEBOOK", "/auth/facebook") %></strong><br>
        <strong><%= link_to 'HOME', root_path %></strong>
    <% end %>
</nav>
